In [1]:
from icecream import ic as print
import pandas as pd
df = pd.read_csv("./05 Handle missing data//weather_data.csv")

In [ ]:
df = pd.read_excel('12 Stack Unstack/stocks.xlsx', header=([0,1]))
df.stack()

In [16]:
df = pd.read_excel('12 Stack Unstack/stocks_3_levels.xlsx', header=[0,1,2])
df

  Unnamed: 0_level_0 Price Ratios                   \
  Unnamed: 0_level_1        Price
             Company     Facebook Google Microsoft
0            Q1 2016          155    955        66
1            Q2 2016          150    987        69
2            Q3 2016          153    963        62
3            Q4 2016          155   1000        61
4            Q1 2017          156   1012        66

                                                 Income Statement         \
  Price to earnings ratio (P/E)                         Net Sales
                       Facebook Google Microsoft         Facebook Google
0                         37.10   32.0     30.31              2.6     20
1                         36.98   31.3     30.56              3.1     22
2                         36.78   31.7     30.46              4.3     24
3                         36.11   31.2     30.11              6.7     26
4                         37.07   30.0     31.00              8.1     31


            Net Profit
  Microsoft   Facebook Google Microsoft
0     18.70       0.80   5.43      4.56
1     21.30       0.97   5.89      5.10
2     21.45       1.20   6.10      5.43
3     21.88       1.67   6.50      5.89
4     22.34       2.03   6.40      6.09